.home-container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-title {
  font-size: 32px;
  font-weight: bold;
}

.home-desc {
  font-size: 18px;
  margin-top: 10px;
  color: #aaa;
}

.start-button {
  margin-top: 20px;
  padding: 12px 22px;
  font-size: 16px;
  background: #007acc;
  color: white;
  border-radius: 6px;
  transition: 0.2s;
}

.start-button:hover {
  background: #005fa3;
}
