.practice-container {
  padding: 20px;
}

.practice-title {
  font-size: 28px;
  font-weight: bold;
}

.practice-desc {
  margin-top: 10px;
}

.snippet-box {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.input-area {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
